<h1>Welcome!!</h1>
<p>Selecione a opção desejada</p>
<p><%= link_to 'Fathers', fathers_path %></p>
<p><%= link_to 'Children', children_path %></p>
<p><%= link_to 'Occupations', occupations_path %></p>
